.navbarColor{
    background-color: rgb(11,33,97,0.2);
}

.titleNav{
    color: #17a2b8 !important;
    font-weight: bolder;
}

.colorNav{
    color: #DFDAE8 !important;
}

#basic-nav-dropdown{
    color: #DFDAE8 !important;
}