.formContainer{ 
  display: inline-grid;
  margin-bottom: 10px;
}

.textInput{
  margin: 0px;
  padding: 0;
}

.SimpleInput {
  margin: 0;
  padding: 0;
  border: solid;
  outline: none;
  border-color: rgba(0,0,0,0.7);
  border-width: 1px;
  border-radius: 5px;
  width: 160px;
  height: 25px;
  color: black;
}

.SimpleInput:focus{
  border-style:solid;
  border-width:1px;
  border-color:#17a2b8;
  outline: none;
}

.SimpleInput[type="text"]
{
    font-size:12px;
}